.formulario{
    width: 100%;
}
.campo{
    display: flex;
    margin-bottom: 2rem;
    align-items: center;
    label{
        flex: 0 0 10rem;
        color: $blanco;
    }
    input{
        flex: 1;
        border-radius: 1rem;
        padding: $separacion/4;
        border: none;
    }
}